{% extends "base/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initical-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-epuiv="X-UA-Compatible" content="ie=edge">
	<title></title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
	{% block content %}
	<main class="main">

		<!-- Контент (grid-элемент) -->
		<section class="box">
			<form class="box-auto" action="" method="post">
				<h1>Авторизация</h1>
				{% csrf_token %}
				<input type="text" name="username" placeholder="Логин">
				<input type="password" name="password" placeholder="Пароль">
				<input type="submit" name="" value="Вход">
				<div class="acc-reg">
					<p class="courier">
						Нет аккаунта? <a href="{% url 'reg' %}">Зарегистрируйтесь</a>
					</p>
				</div>

			</form>
		</section>
	</main>
	{% endblock %}
</body>

</html>