{% extends "base/base.html" %}
{% load static %}
{% block content %}
<main class="main">

	<!-- Контент (grid-элемент) -->
	<section class="box">
		<form class="box-auto" action="" method="post">
			<h1>Регистрация</h1>
			{% csrf_token %}
			{{form.username}}
			{{form.email}}
			{{form.password1}}
			{{form.password2}}
			<input type="submit" name="" value="Зарегистрироваться">
			<div class="acc-reg">
				<p class="courier">
					Есть аккаунт? <a href="{% url 'login' %}" class="ml-2">Войти</a>
				</p>
			</div>
		</form>
	</section>
</main>
{% endblock %}