{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>َ</title>
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">
  </head>
  
  <body>

	<form class="box" action="" method="post">
	{% csrf_token %}
	<h1>Регистрация</h1>
		{{form.username}}
		{{form.email}}
		{{form.password1}}
		{{form.password2}}

	<input type="submit" name="" value="Зарегистрироваться">
	<div class="reg">
	<p class = "courier">
		Есть аккаунт? <a href="{% url 'login' %}" class="ml-2">Войти</a>
	</p>
	</div>

	<div class="exit">
		<a href="{% url 'base' %}" >Назад</a>
	</div>
	</form>
	

  </body>
</html>
