{% load static %}
<!-- Сообщаем браузеру как стоит обрабатывать эту страницу -->
<!DOCTYPE html>
<!-- Оболочка документа, указываем язык содержимого -->
<html lang="ru">
<!-- Заголовок страницы, контейнер для других важных данных (не отображается) -->

<head>
  <!-- Заголовок страницы в браузере -->
  <title>Главная</title>
  <!-- Подключаем CSS -->
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initical-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-epuiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
  <div class="wrapper">
    <!-- Шапка (grid - элемент) -->
    <header class="header">
      <img href="#" class="header__logo" src="{% static 'img/лого.png' %}" alt="Лого ОГУ">
      <nav class="header__menu">
        <ul class="header__list">
          {% if user.is_authenticated %}
          <li>
            <a class="header__link" href="{% url 'login' %}">СПИСОК МОИХ КОНФЕРЕНЦИЙ</a>
          </li>
          <li>
            <a class="header__link" href="http://oreluniver.ru">САЙТ ОГУ</a>
          </li>
          <li>
            <a class="header__link" href="{% url 'login' %}">О НАС</a>
          </li>
          {% else %}
          <li>
            <a class="header__link" href="{% url 'login' %}">СПИСОК КОНФЕРЕНЦИЙ</a>
          </li>
          <li>
            <a class="header__link" href="http://oreluniver.ru">САЙТ ОГУ</a>
          </li>
          <li>
            <a class="header__link" href="{% url 'login' %}">О НАС</a>
          </li>
          {% endif %}
        </ul>
      </nav>
      <nav class="header_login">
        <ul class="header__login__list">
          {% if user.is_authenticated %}
          <li>
            <a class="header__link__log" href="{% url 'MemberDataUpdate' user.id %}">Профиль</a>
          </li>
          <li>
            <a class="header__link__log" href="{% url 'logout' %}">ВЫЙТИ</a>
          </li>
          {% else %}
          <li>
            <a class="header__link__log" href="{% url 'login' %}">ВОЙТИ</a>
          </li>
          <li>
            <a class="header__link__log" href="{% url 'reg' %}">РЕГИСТРАЦИЯ</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <div class="slider_search">
      <div class="slider_bl">
        <div class="slider-box">
          <input checked type=radio name="slider" id="slide1" />
          <input type=radio name="slider" id="slide2" />
          <input type=radio name="slider" id="slide3" />
          <input type=radio name="slider" id="slide4" />
          <div class="slider-wrapper">
            <div class=inner>
              <article>
                <img src="{% static 'img/ogu.jpg' %}" />
              </article>
              <article>
                <img src="{% static 'img/ogu.jpg' %}" />
              </article>
              <article>
                <img src="{% static 'img/ogu.jpg' %}" />
              </article>
              <article>
                <img src="{% static 'img/ogu.jpg' %}" />
              </article>
            </div>
          </div>
          <!-- <div class="slider-prev-next-control">
            <label for=slide1></label>
            <label for=slide2></label>
            <label for=slide3></label>
            <label for=slide4></label>
          </div> -->
          <div class="slider-dot-control">
            <label for=slide1></label>
            <label for=slide2></label>
            <label for=slide3></label>
            <label for=slide4></label>
          </div>
        </div>
        <script type="text/javascript">
          var counter = 1;
          setInterval(function () {
            document.getElementById("slide" + counter).checked = true;
            counter++;
            if (counter > 4) {
              counter = 1
            }
          }, 5000);
        </script>
      </div>


      <div class="search">
        <div class="search_button">
          <a href="{% url 'searh' %}" type="submit" value="ПОИСК">ПОИСК</a>
        </div>
        <div class="search_line">
          <input href="{% url 'searh' %}" type="search" name="q" placeholder="Введите запрос">
        </div>
        <div class="search_lup">
          <img class="lup" src="{% static 'img/lup.png' %}" alt="Лупа">
        </div>
      </div>
    </div>
    {%block content%}
    {%endblock%}
    <footer class="footer">
      <div class="footer_col_inner">
        <ul class="footer_col_inner">
          <li><a href="/sveden"><i class="fa fa-caret-right"></i>Сведения об образовательной организации</a>
          </li>
          <li><a href="/sveden/document/ruk_profit"><i class="fa fa-caret-right"></i>Сведения о доходах, об
              имуществе и обязательствах имущественного характера руководителей и членов их семей</a></li>
          <li><a href="/antiterror"><i class="fa fa-caret-right"></i>Антитеррор</a></li>
          <li><a href="/anticorruption"><i class="fa fa-caret-right"></i>Антикоррупционная деятельность</a></li>
          <li><a href="/smk/"><i class="fa fa-caret-right"></i>Менеджмент качества</a></li>
        </ul>
      </div>
      <div class="footer_col_contact">
        <h3>Контакты</h3>
        <div class="row">
          <p class="adr clearfix col-md-12 col-sm-4">
            <i class="fa fa-map-marker pull-left"></i>
            <span class="adr-group pull-left">
              <span class="street-address">ул. Комсомольская, д. 95</span><br>
              <span class="region">Орловская область, г. Орел,</span><br>
              <span class="postal-code">302026</span><br>
              <span class="country-name">Российская Федерация</span>
            </span>
          </p>
          <p class="tel col-md-12 col-sm-4"><i class="fa fa-phone"></i><a href="tel:+7(4862)75-13-18">+7 (4862)
              751-318</a></p>

        </div>
      </div>
      <!--//footer-col-inner-->

      <!--//footer-content-->

      <div class="row">
        <small class="copyright col-md-6 col-sm-12 col-xs-12">
          ©&nbsp;2000–2021 ФГБОУ ВО «ОГУ имени И.С. Тургенева»</small>
      </div>
      <div class="vk">
        <ul class="social pull-right col-md-6 col-sm-12 col-xs-12">
          <li><a href="https://www.youtube.com/channel/UCENIkqWp2oL-hdYFB6SwcOw" target="_blank"><i
                class="fa fa-youtube"></i></a></li>
          <li><a href="https://www.instagram.com/oreluniver/" target="_blank"><i class="fa fa-instagram"></i></a>
          </li>
          <li><a href="https://vk.com/oreluniver" target="_blank"><i class="fa fa-vk"></i></a></li>
          <li><a href="https://www.facebook.com/oreluniver/" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://ru.wikipedia.org/wiki/Орловский_государственный_университет_имени_И._С._Тургенева"
              target="_blank"><i class="fa fa-wikipedia-w" aria-hidden="true"></i></a></li>
        </ul>
        <!--//social-->
      </div>

    </footer>
  </div>
</body>

</html>