html, body {
  height: 100%;
}

.logo {
  margin-left: 69px;
  margin-top: -5px;
  width: 120px;
  height: 65px;
  z-index:1;
  position: relative;
}

.logo2 {
  margin-left: 69px;
  margin-top: 850px;
  width: 120px;
  height: 65px;
  z-index:1;
  position: relative;
}

.line2 div {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -50vw;
  width: 100vw;
  height: 90px;
  background: #0f3d88;
}

.lup {
  margin-left: 78px;
  margin-top: -35px;
  width: 30px;
  height: 20px;
  z-index:1;
  position: absolute;
}





.slider {
  width: 92%;
  height: 30%;
  margin-top:-100px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}


.slider-but{
  left: 50%;
  height:50%;
  position:absolute;
  top:100%;
  width:100%;
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  transform:translateY(-50%)}

.slider-but label{
  display:none;
  width:40px;
  height:40px;
  border-radius:50%;
  background:rgb(207, 1, 1);
  opacity:.7}

.slider-but label:hover{
      opacity:1
}

.middle {

  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.bar {
  height: 8px;
  width: 30px;
  margin: 6px;
  cursor: pointer;
  background-color: #ddd;
  opacity: .7;
  border-radius: 10px;
  transition: all .4s ease;
}


.bar:hover{
  opacity: 0.8;
  transform: scale(1.1);
}

input[name="r"]{
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 400%;
  height: 100%;
  display: flex;
}



.slide{
  width: 25%;
  transition: all .6s ease;
}

.slide img{
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1 {
  margin-left: 0;
}

#r2:checked ~ .s1 {
  margin-left: -25%;
}

#r3:checked ~ .s1 {
  margin-left: -50%;
}

#r4:checked ~ .s1 {
  margin-left: -75%;
}


.box a{
  width: auto;
  height: auto;
  margin-top: -44px;
  margin-left: 90%;
  position: absolute;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  font-size: 180%;
  font-weight:bold;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "CENTURY GOTHIC", monospace;
}
.box a:before {
  content: "";
  bottom: -5px;
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
  height: 3px;
  width: 100%;
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.25s;
  transform-origin: right;
}
.box a:hover::before {
  transform: scaleX(1);
  transition: transform 0.25s;
  transform-origin: left;
}





.reg a{
  width: auto;
  height: 40px;
  margin-top: -48px;
  margin-left: 78%;
  position: absolute;
  font-size: 180%;
  font-weight:bold;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "CENTURY GOTHIC", monospace;
}

.reg a:before {
  bottom: -2px;
  content: "";
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
  height: 3px;
  width: 100%;
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.25s;
  transform-origin: right;
}
.reg a:hover::before {
  transform: scaleX(1);
  transition: transform 0.25s;
  transform-origin: left;
}

.contact a{
  width: auto;
  height: 40px;
  margin-top: -48px;
  margin-left: 46%;
  position: absolute;
  font-size: 180%;
  font-weight:bold;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "CENTURY GOTHIC", monospace;
}

.contact a:before {
  bottom: -2px;
  content: "";
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
  height: 3px;
  width: 100%;
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.25s;
  transform-origin: right;
}
.contact a:hover::before {
  transform: scaleX(1);
  transition: transform 0.25s;
  transform-origin: left;
}

.sOGU a{
  width: auto;
  height: 40px;
  margin-top: -48px;
  margin-left: 34%;
  position: absolute;
  font-size: 180%;
  font-weight:bold;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "CENTURY GOTHIC", monospace;
}
.sOGU a:before {
  bottom: -2px;
  content: "";
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
  height: 3px;
  width: 100%;
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.25s;
  transform-origin: right;
}
.sOGU a:hover::before {
  transform: scaleX(1);
  transition: transform 0.25s;
  transform-origin: left;
}

.ONAC a{
  width: auto;
  height: 40px;
  margin-top: -48px;
  margin-left: 25%;
  position: absolute;
  font-size: 180%;
  font-weight:bold;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "CENTURY GOTHIC", monospace;
}
.ONAC a:before {
  bottom: -2px;
  content: "";
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
  height: 3px;
  width: 100%;
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.25s;
  transform-origin: right;
}
.ONAC a:hover::before {
  transform: scaleX(1);
  transition: transform 0.25s;
  transform-origin: left;
}




.search input[type = "search"]{
  margin-left: 69px;
  width: 92.8%;
  margin-top: 470px;
  font-size: 100%;
  text-align: left;
  padding: 14px 50px;
  outline: none;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  border: none;
  font-family: "CENTURY GOTHIC", monospace;
  background-color:rgb(235, 235, 235);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.search_button input[type = "submit"]{
  font-weight:bold;
  position: absolute;
  margin-left: 88.5%;
  width: 120px;
  margin-top: 479px;
  font-size: 100%;
  background: none;
  text-align: center;
  padding: 5px 20px;
  outline: none;
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  font-family: "CENTURY GOTHIC", monospace;
  background-color:#0f3d88;
}

.spisok h1{
  width: 500px;
  height: 100px;
  margin-top: 40px;
  margin-left: 4%;
  position: absolute;
  font-size: 200%;
  color: rgb(95, 90, 90);
  text-decoration: none;
  font-family: "CENTURY GOTHIC", monospace;
}


.border {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  margin-top: 1000px;
  
}


.conf {
  color:rgb(255, 187, 0);
  text-decoration:none;
  width: 100px; 
  height: 60px;
  font-family: "CENTURY GOTHIC", monospace;
  padding: 200px; 
  margin:100px;
  margin-bottom:20px;
  text-align:center;
  line-height: 600px;
  hyphens: auto;
  word-wrap: break-word;
  white-space: normal;
  /* margin-top: 150px; */
  border: 5px solid rgb(255, 187, 0);
  border-left: 30px solid rgb(255, 187, 0); 
  box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
       -2px -2px 5px 0 rgba(0,0,0,.1),
      2px 2px 5px 0 rgba(0,0,0,.1),
      -2px 2px 5px 0 rgba(0,0,0,.1);
  font-size: 300%;
  letter-spacing: 2px;
}

.box-auto{
  width: 400px;
  padding: 40px;
  position: absolute;
  top: 86%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgb(235, 235, 235);
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}
.box-auto h1{
  color: #0f3d88;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "CENTURY GOTHIC", monospace;
}

.box-auto input[type = "text"],.box-auto input[type = "password"]{
  font-size: 100%;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: left;
  padding: 14px 50px;
  outline: none;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  transition: 0.6s;
  background-color:rgb(255, 255, 255);
  font-family: "CENTURY GOTHIC", monospace;
}
.box-auto input[type = "text"],.box-auto input[type = "password"]{
  width: 280px;
}
.box-auto input[type = "submit"]{
  font-size: 100%;
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 14px 110px;
  outline: none;
  color: white;
  border-radius: 10px;
  transition: 0.6s;
  cursor: pointer;
  font-family: "CENTURY GOTHIC", monospace;
  background-color:#0f3d88;
}
.box-auto input[type = "submit"]:hover{
  background: rgb(21, 193, 236);
}


.acc-reg{
  padding: 22px 0 0 0;
  color: rgb(136, 136, 136);
  letter-spacing: 0.1em;
  text-decoration: none;
  font-family: "CENTURY GOTHIC", monospace;
  font-size: 150%;
}

.acc-reg a{
  padding: 22px 0 0 0;
  color: #0f3d88;
  letter-spacing: 0.1em;
  text-decoration: none;
}



/* 
  
.exit{
  padding: 22px 0 0 0;
  color: #fff;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-family: "CENTURY GOTHIC", monospace;
}

.exit a{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid rgb(199, 27, 15);
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.6s;
  cursor: pointer;
  text-decoration: none;
}
.exit a:hover{
  background: rgb(238, 102, 92);
} */




.pod div {
  position: absolute;
  top: 130%;
  left: 50%;
  margin-left: -50vw;
  width: 100vw;
  height: 500px;
  background: #32353a;
}
