/*Обнуление*/
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	background-color: rgb(255, 255, 255);
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: rgb(61, 61, 61);
	font-size: 16px;
	line-height: 24px;
}
/* ссылка */
a {
	color: #474747;
}
h1 {
	font-size: 40px;
	line-height: 1;
	margin: 0px 0px 50px 0px;
}
h2 {
	font-size: 30px;
	line-height: 1;
	margin: 0px 0px 20px 0px;
}
ul {
	list-style: none;
}
/* ================ */
.wrapper {
	display: grid;
	min-height: 100vh;
	grid-template: minmax(50px, auto)  1fr minmax(70px, auto) / 1fr;
	grid-template-areas:
		"header"
		"main"
		"footer";
}
/* ================ */
.header {
	grid-area: header;
	padding: 15px;
	background-color: rgb(38, 14, 255);
   
	align-items: center;
	display: grid;
	grid-template-columns: 1fr minmax(auto, 250px) minmax(auto, 1100px) minmax(auto, 250px) 1fr;
    grid-template-rows: 1fr 1fr 1fr;
          
}

.search{
	grid-column: 3;
	grid-row: 3;
}

.lup{
	max-width: 20px;
    max-height: 20px;
}

.header__logo {
    
    max-width: 100px;
    max-height: 100px;
    
    grid-column: 2 / 3;
	grid-row: 1;
}
.header__menu {
	grid-column: 3 / 4;
}

.header_login{
    grid-column: 4/5;
}

.header__list {
	display: grid;
	grid-auto-flow: column;
	justify-content: center;
}
.header__list li {
	margin: 0px 0px 0px 50px;
}
.header__link {
	text-transform: uppercase;
	font-size: 150%;
    font-weight:bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: "CENTURY GOTHIC", monospace;
}

.header__link__log {
	text-transform: uppercase;
	font-size: 150%;
    font-weight:bold;
    color: rgb(38, 14, 255);
    text-decoration: none;
    font-family: "CENTURY GOTHIC", monospace;
	padding: 5px 15px;
	background:#ffffff;
	border-radius: 10px;
}

.header__login__list  {
    display: grid;
	grid-auto-flow: column;
	justify-content: center;
    
}

.header__login__list li {
    margin: 0px 0px 0px 50px;
}




@media (max-width: 767px) {
	.header__menu {
		display: none;
	}
}
/* ================ */
.main {
	padding: 30px 15px;
}

.content {
}
.content__gallery {
	margin: 0px 0px 40px 0px;
}

@media (min-width: 992px) {
	.main {
		grid-area: main;
		display: grid;
		grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
	}
	.content {
		grid-column: 3 / 4;
		padding: 0px 0px 0px 30px;
	}
	.sidebar {
		margin: 0;
		grid-column: 2 / 3;
	}
}
/* ================ */
.gallery {
}
.gallery__title {
}
.gallery__items {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.gallery__item {
	background-color: #ffffff;
	padding: 0px 0px 85% 0px;
	position: relative;
}
.gallery__item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}
@media (min-width: 800px) {
	.gallery__item_big {
		grid-column: span 2;
		grid-row: span 2;
	}
}
/* ================ */
.products {
}
.products__title {
}
.products__items {
	display: grid;
	column-gap: 30px;
	row-gap: 50px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	/* grid-auto-rows: 1fr; */
}
.products__item {
	display: grid;
	grid-auto-flow: row;
	grid-template: auto 1fr minmax(40px, auto) / 1fr;
}
.products__image {
	position: relative;
	padding: 0px 0px 90% 0px;
	margin: 0px 0px 20px 0px;
}
.products__image img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}
.products__name {
	color: #fff;
	font-size: 20px;
	line-height: 28px;
	margin: 0px 0px 30px 0px;
}
.products__button {
	background-color: #794f45;
	padding: 0px 30px;
	color: #fff;
	line-height: 40px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	text-decoration: none;
	justify-self: start;
}
/* ================ */
.footer {
	padding: 15px;
	background-color: #272727;
	grid-area: footer;
	align-items: center;
	display: grid;
    color: aliceblue;
	grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
}

@media (min-width: 550px) {
	.footer__copy {
		grid-column: 2 / 3;
	}
	.footer__text {
		grid-column: 3 / 4;
		text-align: right;
	}
}
@media (max-width: 550px) {
	.footer {
		grid-template: 1fr 1fr / 1fr;
		justify-items: center;
	}
	.footer__copy {
		order: 2;
	}
	.footer__text {
		order: 1;
	}
}

.slider {

    height: 150px;
	overflow: hidden;
	
	border-radius: 10px;
  }
  
  
  .slider-but{
	left: 50%;
	height:50%;
	position:absolute;
	top:100%;
	width:100%;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	transform:translateY(-50%)
}
  
  .slider-but label{
	display:none;
	width:40px;
	height:40px;
	border-radius:50%;
	background:rgb(207, 1, 1);
	opacity:.7}
  
  .slider-but label:hover{
		opacity:1
  }
  
  .middle {
	grid-column: 3;
	grid-row: 2;
	display: grid;
	grid-auto-flow: column;
	justify-content: center;
	top: 40%;
    left: 50%;
  }
  
  .navigation {
	position: absolute;
	bottom: 410px;
	left: 47%;
	display: flex;
  }
  
  .bar {
	height: 8px;
	width: 30px;
	margin: 6px;
	cursor: pointer;
	background-color: #ddd;
	opacity: .7;
	border-radius: 10px;
	transition: all .4s ease;
  }
  
  
  .bar:hover{
	opacity: 0.8;
	transform: scale(1.1);
  }
  
  input[name="r"]{
	position: absolute;
	visibility: hidden;
  }
  
  .slides {
	width: 400%;
	height: 20%;
	display: flex;
  }
  
  
  
  .slide{
	width: 25%;
	transition: all .6s ease;
  }
  
  .slide img{
	width: 100%;
	height: 100%;
  }
  
  #r1:checked ~ .s1 {
	margin-left: 0;
  }
  
  #r2:checked ~ .s1 {
	margin-left: -25%;
  }
  
  #r3:checked ~ .s1 {
	margin-left: -50%;
  }
  
  #r4:checked ~ .s1 {
	margin-left: -75%;
  }

  .search input[type = "search"]{
    width: 100%;
    font-size: 100%;
    text-align: left;
    padding: 14px 50px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: none;
    font-family: "CENTURY GOTHIC", monospace;
    background-color:rgb(235, 235, 235);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.search_button input[type = "submit"]{
	
    font-weight:bold;
    position: absolute;
    width: 120px;
    font-size: 100%;
    background: none;
    text-align: center;
    padding: 5px 20px;
    outline: none;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-family: "CENTURY GOTHIC", monospace;
    background-color:#0f3d88;
}
  