{% extends "base/base.html" %}
{% load static %}
{% block content %}
<main class="main">
    <!-- Контент (grid-элемент) -->
    <section class="content">
        <h1>Список статей</h1>
        <section class="content__list">
            <div class="list__konf">
                <ul class="content__stat__li">
                    <a class="dob" href={%url 'expert_upload_articles' request.user.id%}> Добавить свои статьи </a>
                    {% for article in object_list %}
                    <li><a class="conf" href={% url 'article_review' article.id%}>{{
                            article.member__member_info__memberinfo_surname }}
                            {{article.get_app_status_display}}</a>
                    </li>
                    {% empty %}
                    <li><a class="nope">Статей еще нет</a></li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </section>
</main>
{% endblock %}