{% load static %}
<!DOCTYPE html>
<html lang="ru">
 <head>
  <meta charset="utf-8">
  <meta name = "viewport" 
  content = "width=device-width, user-scalable=no, initical-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-epuiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>
 
 <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="jquery.fancybox.min.js"></script>

<link rel="stylesheet" href="{% static 'css/reviewarcticle.css' %}">
 <!-- fancyBox CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
<!-- fancyBox CSS -->


 </head>
 <body>
    <div class="review">

        <form class="update" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        {% comment %} {% with request.memberapplication as jopa %}
            {{ jopa.speech_name }}
        {% endwith %} {% endcomment %}
        <a target="_blank"  href={{object.speech_file.url}}>Просмотр файла</a>
        <br>
        <br>
        <br>
        <br>
        <a href={{object.speech_file.url}} download>Скачать файл</a>
        <br>
        <br>
        <br>
        <br>
        <input type="submit" value="Применить">
        </form>
    </div>
    <div class="exit">
        <a href="{% url 'articles_for_review' %}" >Назад</a>
    </div> 

     
  
    
</object>

</ul>
</body>
</html>
