{% extends "base/base.html" %}
{% load static %}
{% block content %}
<main class="main">
    <!-- Контент (grid-элемент) -->
    <section class="content">
        <h1>Подробнее о конференции</h1>
        <section class="content__list">
            <div class="list__konf">
                <div class="content_box">
                    <ul class="content__item_info">
                        {% for conference in conf_info %}


                        <a>Название конференции</a>
                        <p>{{ conference.conference_name }} </p>
                        <br>
                        <a>Полное название конференции</a>
                        <p>{{ conference.conference_full_name }} </p>
                        <br>
                        <a>Cекции конференции:</a>
                        {% for item in qs %}
                        <p>{{ item.conference_sections_name }} </p>
                        {%endfor%}
                        <br>
                        <a>Формат проведения конференции</a>
                        <p>{{ conference.conference_format_id }} </p>
                        <br>
                        <a>Дата начала конференции</a>
                        <p>{{ conference.conference_date_start }} </p>
                        <br>
                        <a>Дата окончания конференции</a>
                        <p>{{ conference.conference_date_end }}</p>
                        <br>
                        <a>Дата начала регистрации на конференцию</a>
                        <p>{{ conference.conference_date_reg_start }} </p>
                        <br>
                        <a>Дата окончания регистрации на конференцию</a>
                        <p>{{ conference.conference_date_reg_end }} </p>
                        <br>
                        <a>Описание конференции</a>
                        <p>{{ conference.conference_discription }} </p>
                        <br>
                        <div class='conf_info_button'>
                            <a href="{% url 'application_add' conference.id %}">ПОДАТЬ ЗАЯВКУ</a>
                        </div>
                        </li>

                        {% endfor %}
                        <li class="chart_li">
                            <div class="chart-container">
                                <canvas id="myChart"></canvas>
                            </div>
                        </li>
                    </ul>
                </div>



                <script src="https://cdn.jsdelivr.net/npm/chart.js"> </script>

                <script>
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: [{% for item in qs %}"{{item.conference_sections_name}}",{% endfor %}],
                    datasets: [{
                        label: '# of Votes',
                        data: [{% for item1 in counts %}"{{item1}}", {% endfor %}],
                        backgroundColor: [
                            'rgba(15, 61, 136, 1)',
                        ],
                            borderColor: [
                                'rgba(15, 61, 136, 1)',

                            ],
                                borderWidth: 1
                    }]
                },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    callback: function (value) { if (Number.isInteger(value)) { return value; } },
                                    stepSize: 1
                                }
                            }]
                        }
                    },
});

                </script>
            </div>
        </section>
    </section>
</main>
{% endblock %}