{% load static %}
<!DOCTYPE html>
<html lang="ru">
 <head>
  <meta charset="utf-8">
  <meta name = "viewport" 
  content = "width=device-width, user-scalable=no, initical-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-epuiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
 </head>
 <body>
  <img class="logo" src="{% static 'img/logo_ogu.jpg' %}" alt="Лого ОГУ">
  <div class="slider middle">
    <div class="slides">
        <input type="radio" name="r" id="r1" checked>
        <input type="radio" name="r" id="r2">
        <input type="radio" name="r" id="r3">
        <input type="radio" name="r" id="r4">

        <div class="slide s1">
          <a href="http://oreluniver.ru" target="_blank"><img src="{% static 'img/1.jpg' %}" alt=""></a>
        </div>
        <div class="slide">
          <a href="http://oreluniver.ru" target="_blank"><img src="{% static 'img/2.jpg' %}" alt=""></a>
        </div>
        <div class="slide">
          <a href="http://oreluniver.ru" target="_blank"><img src="{% static 'img/3.jpg' %}" alt=""></a>
        </div>
        <div class="slide">
          <a href="http://oreluniver.ru" target="_blank"><img src="{% static 'img/4.jpg' %}" alt=""></a>
      </div>
      
    </div>
    <div class="slider-but">
      <label for=slide1></label>
      <label for=slide2></label>
      <label for=slide3></label>
      <label for=slide4></label>
    </div>

    <div class="navigation">
      <label for="r1" class="bar"></label>
      <label for="r2" class="bar"></label>
      <label for="r3" class="bar"></label>
      <label for="r4" class="bar"></label>
    </div>
  </div>
  







    <div class="lk">
        <nav class="my-2 my-md-0 me-md-3">
            
          <span class="h5 my-0 me-md-auto fw-normal">Здравствуйте, {{request.user}}</span>
          
    
          <form class="box">
            <a class="but" href="
                {% if request.user.memberinfo.id %}
                    {% url 'MemberDataUpdate' request.user.memberinfo.id %}
                {% else %}
                    {% url 'MemberDataCreate' %}
                {% endif %}
            ">Мои данные</a>
          </form>
            <form class="konf">
                <a class="but" href="
                {% url 'myconf' %}
                
            ">Мои конференции</a>
            </form>
          
            <form class="contact">
              <a class = "ww" href="{% url 'login' %}">Контакты</a>
            </form>
              <form class="sOGU">
              <a class = "ww" href="http://oreluniver.ru">Сайт ОГУ</a>
              </form>
        

         </nav>
         <form class="exit">
         <a class="but" href="{% url 'logout' %}">Выйти</a>
        </form>

        <form class="exit">
          <a class="but" href="{% url 'articles_for_review' %}">Статьи на проверку</a>
         </form>


         <div class="vert">
            <div class="v1"></div>
            <div class="v2"></div>
        </div>
         <div class="spisok">
            <h1>Список конференций</h1>
          </div>

          
          <div class="border">
              {% for conference in object_list %}
              <li><a class="conf" href={% url 'application_add' conference.id %}>{{ conference.conference_name }} </a></li>
              {% empty %}
              <li>Конференции еще не добавлены</li>
          {% endfor %}
          </div>
    </div>
 </body>
</html>
