{% extends "base/base.html" %}
{% load static %}
{% block content %}
<main class="main">
  <section class="content">
    <section class="content__buttons">
      <div class="list__konf">
        <ul class="content__buttons__li">
          <li>
            <div class="expert_button"><a href={% url 'articles_for_review' %}>СТАТЬ <br>ЭКСПЕРТОМ</a></div>
            <div class="org_button">bu<a href={% url 'myconf' %}>СОЗДАТЬ КОНФЕРЕНЦИЮ</a></div>
          </li>
        </ul>
      </div>
    </section>


    <section class="content__user_info">
      <h2>Мои данные</h2>
      <div class="list__konf">
        <ul class="content__list__li">
          <li>
            {% if request.user.memberinfo.id %}
            <img class="luple" src="{% static 'img/лого.png' %}" alt="Лупа">
            {% else %}
            <img class="luple" src="{% static 'img/profile_png.png' %}" alt="Лупа">
            {% endif %}
            <a class="content__item">{% with request.user.memberinfo as jopa %}
              {{ jopa.memberinfo_surname }}
              {{ jopa.memberinfo_name }}
              {{ jopa.memberinfo_otchestvo }}
              {% endwith %}</a>
            {% if request.user.memberinfo.id %}
            <a href={% url 'MemberDataUpdate' request.user.memberinfo.id %} class="content__button">Редактировать
              профиль</a>
            {% else %}
            <a href={% url 'MemberDataCreate' %} class="content__button">Создать профиль</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </section>

    <section class="content">
      <h2>Мои конференции</h2>
      <section class="content__list">
        <div class="list__konf">
          <ul class="content__list__li">
            {% for application in object_list %}
            {% if application.app_status == 'Consideration' %}
            <li>
              <img class="luple" src="{% static 'img/лого.png' %}" alt="Лупа">
              <a class="content__item">НАЗВАНИЕ КОНФЕРЕНЦИИ: {{ application.conference_id }} СТАТУС ВАШЕЙ ЗАЯВКИ:
                {{application.get_app_status_display}}</a>
              <a href={% url 'edit_conf' conference.id %} class="content__button">Подробнее</a>
            </li>
            {% else %}
            <li>
              <img class="luple" src="{% static 'img/лого.png' %}" alt="Лупа">
              <a class="content__item" href={% url 'application_update' application.id%}>НАЗВАНИЕ КОНФЕРЕНЦИИ: {{
                application.conference_id }} СТАТУС ВАШЕЙ ЗАЯВКИ: {{application.get_app_status_display}}</a>
              <a href={% url 'edit_conf' conference.id %} class="content__button">Подробнее</a>
            </li>
            {% endif %}
            {% empty %}
            <li>
              <img class="luple" src="{% static 'img/лого.png' %}" alt="Лупа">
              <a class="content__item">Вы еще не учавствуете в конференциях. Подайте заявку.</a>
            </li>
            {% endfor %}
          </ul>
          </ul>
        </div>
      </section>
    </section>
  </section>
</main>
{% endblock %}




<!-- <img class="luple" src="{% static 'img/лого.png' %}" alt="Лупа">
<a class="content__item" href={% url 'edit_conf' conference.id %}>{{ conference.conference_name }} </a>
<a href={% url 'edit_conf' conference.id %} class="content__button">Подробнее</a> -->