{% extends "base/base.html" %}
{% load static %}
{% block content %}
<main class="main">
    <section class="content">
        <h2>Мои данные</h2>
        <section class="user_form">
            <form class="user_form_items" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="user_form_item">{{ form.memberinfo_surname}}</div>
                <div class="user_form_item">{{ form.memberinfo_name}}</div>
                <div class="user_form_item">{{ form.memberinfo_otchestvo}}</div>
                <div class="user_form_item">{{ form.memberinfo_male}}</div>
                <div class="user_form_item">{{ form.memberinfo_telephone}}</div>
                <div class="data"><a class="text">Дата рождения</a></div>
                <div class="data_item">{{ form.memberinfo_dateofbirth}}</div>
                <div class="education"><a class="text">Образование</a></div>
                <div class="education_item">{{ form.memberinfo_education}}</div>
                <div class="grade_name"><a class="text">Ученое звание</a></div>
                <div class="grade_name_item">{{ form.memberinfo_gradee_name}}</div>
                <div class="grade"><a class="text">Ученая степень</a></div>
                <div class="grade_item">{{ form.memberinfo_gradee}}</div>
                <div class="member_photo_item">{{ form.member_photo}}</div>
                <input type="submit" value="Применить">
            </form>
        </section>
    </section>
</main>
{%endblock%}