{% extends "base/base.html" %}
<!-- <body>
    <div class="myconf">
        <h1 class="h5 my-0 me-md-auto fw-normal">ОГУ КОНФЕРЕНЦИИ</h1>
        <nav class="my-2 my-md-0 me-md-3">


            <a class="but" href="
            {% url 'create_conf' %}
            
        ">Создать конференцию</a>

        </nav>


        <div class="container">

        </div>
        <h1>Список конференций</h1>
        <ul>
            {% for conference in object_list %}
            <li><a class="conf" href={% url 'edit_conf' pk=conference.id %}>{{ conference.conference_name }} </a></li>
            {% empty %}
            <li>Конференции еще не добавлены</li>
            {% endfor %}
    </div>
    </div>
    </ul> -->



{% load static %}
{% block content %}
<main class="main">
    <!-- Контент (grid-элемент) -->
    <section class="content">
        <h1>Список конференций</h1>
        <section class="content__list">
            <div class="list__konf">
                <ul class="content__stat__li">
                    <a class="dob" href={% url 'create_conf' %}>Создать конференцию</a>
                    {% for conference in object_list %}
                    <li>
                        <img class="luple" src="{% static 'img/лого.png' %}" alt="Лупа">
                        <a class="content__item" href={% url 'edit_conf' pk=conference.id %}>
                            {{conference.conference_name}} </a>
                        <a href={% url 'edit_conf' pk=conference.id %} class="content__button">Подробнее</a>
                    </li>
                    {% empty %}
                    <li><a class="nope">Конференции еще не добавлены</a></li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </section>
</main>
{% endblock %}