{% extends "base/base.html" %}
{% load static %}
{% block content %}
<main class="main">
  <!-- Контент (grid-элемент) -->
  <section class="content">
    <h1>Список конференций для участия</h1>
    <section class="content__list">
      <div class="list__konf">
        <ul class="content__list__li">
          {% for conference in object_list %}
          <li>
            <img class="luple" src="{% static 'img/лого.png' %}" alt="Лупа">
            <a class="content__item" href={% url 'edit_conf' conference.id %}>{{ conference.conference_name }} </a>
            <a href={% url 'edit_conf' conference.id %} class="content__button">Подробнее</a>
          </li>
          {% empty %}
          <li>Конференции еще не добавлены</li>
          {% endfor %}
        </ul>
      </div>
    </section>
  </section>
</main>
{% endblock %}