{% extends "base/base.html" %}
{% load static %}
{% block content %}
<main class="main">
  <!-- Контент (grid-элемент) -->
  <section class="content">
    <h1>Результаты поиска</h1>
    <section class="content__list">
      <div class="list__konf">
        <ul class="content__list__li">
          {% for conference in object_list %}
          <li>
            <img class="luple" src="{% static 'img/лого.png' %}" alt="Лупа">
            <a class="content__item" href={% url 'edit_conf' conference.id %}>{{ conference.conference_name }} </a>
            <a href={% url 'edit_conf' conference.id %} class="content__button">Подробнее</a>
          </li>
          {% empty %}
          <li>
            <a class="content__item"> По вашему запросу ничего не найдено </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>
  </section>
</main>
{% endblock %}
<!-- <h1>Search Results</h1>

<ul>
  {% for city in object_list %}
  <li>
    {{ city}}
  </li>
  {% endfor %}
</ul> -->